<div class="row">
  <div class="sm-col-12">
  	<div id="exchanges">
  		<a href="/e/mtgox">Mt.Gox</a>
  		<a href="/e/coinbase">Coinbase</a>
  		<a href="/e/btc-e">BTC-e</a>
  	</div>
    <div class="price">
      {{ .Price }}
    </div>
  </div>
</div>
